# Игнорируем временные файлы IDE
.idea/
*.iml

# Игнорируем классы Java
*.class

# Игнорируем каталоги сборки
target/

# Игнорируем временные файлы системы
*.log
*.tmp

# Игнорируем файлы конфигурации среды
.env
